/cache/
/ewww/
/languages/
/mu-plugins/
!.gitignore
/plugins/*
!wptouch/
!wptouch-pro/
!wptouch-pro-3/
!bbpress/
/upgrade/
/uploads/
/w3tc-config/
!/wptouch-data/
!.gitignore.swp
/advanced-cache.php
/db-config.ini
/db.php
/debug.log
/index.php
/object-cache.php
/wp-cache-config.php
