body { background:#ffbfbf; }

a, a:visited, #single_post .post_category a:hover, #related_post .title a:hover, .post_list .post_title a, #single_post .post_title, body .side_widget a:hover
 { color:#ff4d4d; }

a:hover, #global_menu ul li a:hover, #post_meta #meta li a:hover, #comments a:hover
 { color:#fe8282; }

#side_category ul li a, #side_archive ul li a:hover, #wp-calendar td#today, #wp-calendar #prev a:hover, #wp-calendar #next a:hover, .grid_layout #archive_headline
 { background-color:#fe8282; }

#side_category ul li a:hover
 { background-color:#ff4d4d; }

.grid_layout #archive_headline:after { border:10px solid #fe8282; border-color:transparent; border-top-color:#fe8282; }

.post_list .post_item:hover { box-shadow:0px 0px 0px 5px #fe8284; }

.ie7 .post_list .post_item:hover { background:#fff3f3; }

.ie8 .post_list .post_item:hover { outline:4px solid #fe8284; }
.ie8 .grid_layout .post_list .post_item.banner_block:hover { outline:none; }